body {
    background-color: #FCFDF4;
}

.shapes {
    position: relative;
}

.shapes2 {
    float: left;
    rotate: 180deg;
}

.row {
    display: flex;
    justify-content: space-between;
}

.evenly {
    justify-content: space-evenly;
}

.rectangle {
    background-color: #C56F43;
    width: 10px;
    height: 100vh;
    margin-left: 30px;
    box-shadow: inset 20px 20px 60px #a75e39,
        inset -20px -20px 60px #e3804d;
}

.line {
    background-color: #3E3430;
    width: 3px;
    height: 100vh;
    margin-left: 10px;
}

.shape1 {
    position: absolute;
    top: 50px;
    left: 50px;
    height: 20px;
}

.shape2 {
    position: absolute;
    top: 170px;
    left: 40px;
    rotate: 40deg;
    height: 20px;
}

.shape3 {
    position: absolute;
    top: 120px;
    left: 140px;
    rotate: 70deg;
    height: 20px;
}

.square {
    width: 20px;
    height: 20px;
    border-radius: 5px;
    background: linear-gradient(145deg, #9b864f, #b89f5e);
    box-shadow: 20px 20px 60px #927f4b,
        -20px -20px 60px #c6ab65;
}

.triangle {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 20px solid #B2BBC9;
    border-radius: 5px;
}

.t2 {
    position: relative;
    rotate: 50deg;
    top: -30px;
    left: -20px;
}

.t3 {
    position: relative;
    rotate: -50deg;
    top: -50px;
    left: 20px;
}

.t4 {
    position: relative;
    rotate: -110deg;
    top: -90px;
    left: 20px;
}

.t5 {
    position: relative;
    rotate: 110deg;
    top: -110px;
    left: -20px;
}

.t6 {
    position: relative;
    rotate: -180deg;
    top: -140px;
}

.circle {
    background-color: #474774;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.c1 {
    position: relative;
    top: -175px;
    left: -25px;
}

.c2 {
    position: relative;
    top: -185px;
    left: 37px;
}

.c3 {
    position: relative;
    top: -160px;
    left: -40px;
}

.c4 {
    position: relative;
    top: -170px;
    left: 30px;
}

.s1 {
    position: absolute;
    top: 45px;
    rotate: 10deg;
}

.s2 {
    position: absolute;
    top: -45px;
    left: 3px;
    rotate: -10deg;
}

.s3 {
    position: absolute;
    top: -10px;
    left: -45px;
    rotate: -30deg;
}

.s4 {
    position: absolute;
    top: 0px;
    left: 45px;
}

/* middle */
.column {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    width: clamp(10px, 50vw, 600px);
}

h1,
h4,
h5 {
    background-color: #fcfdf4c0;
    font-family: 'El Messiri', sans-serif;
    text-align: center;
    color: #474774;
    margin: 1%;
    z-index: 5;
}

h1 {
    font-size: clamp(0.5rem, 5vw, 1.5rem);
}

h4 {
    font-size: clamp(0.7rem, 2vw, 1rem);
}

h5 {
    font-size: clamp(0.7rem, 1vw, 1rem);
}

.text {
    text-align: right;
    color: #2E7D32;
}

.athar-text {
    text-align: right;
    color: #3E3430;
}

.user-choice {
    width: fit-content;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 3;
}

.txtareaTitle {
    font-family: 'El Messiri', sans-serif;
    color: #474774;
    font-size: 13px;
    position: relative;
    top: 14px;
    left: 110px;
    width: 40px;
    text-align: center;
    background-color: #FCFDF4;
    z-index: 4;
}

.inputTitle {
    font-family: 'El Messiri', sans-serif;
    color: #474774;
    font-size: 13px;
    position: relative;
    top: 6px;
    left: 70px;
    width: 50px;
    height: 15px;
    text-align: center;
    background-color: #FCFDF4;
    z-index: 4;
}

textarea {
    background-color: #fcfdf4c0;
    padding: 2%;
    margin: 2%;
    border-radius: 15px;
    border: 3px solid #474774;
    transition: .2s ease-in-out;
    text-align: right;
    font-family: 'El Messiri', sans-serif;
    color: #474774;
    width: auto;
    z-index: 3;
}

.input {
    background-color: #fcfdf4c0;
    padding: 2%;
    border-radius: 13px;
    border: 3px solid #474774;
    transition: .2s ease-in-out;
    text-align: right;
    font-family: 'El Messiri', sans-serif;
    color: #474774;
    width: auto;
    z-index: 3;
    width: 120px;
}

textarea:focus,
.input:focus {
    outline: none;
    border-color: #F9C358;
}

button {
    background: linear-gradient(145deg, #e0b04f, #ffd15e);
    border-radius: 10px;
    outline: none;
    cursor: pointer;
    border: none;
    transition: .3s ease-in-out;
    width: 100px;
    height: 30px;
    color: #3E3430;
    font-weight: bold;
    font-size: 15px;
    font-family: 'El Messiri', sans-serif;
    margin: 3%;
    z-index: 4;
}

button:hover {
    animation-name: blue-color;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

@keyframes blue-color {
    0% {
        background: linear-gradient(145deg, #e0b04f, #ffd15e);
        box-shadow: none;
    }

    100% {
        background: linear-gradient(145deg, #8383c7, #9c9cec);
        box-shadow: 0 0 2px #9292dd, 0 0 5px #9292dd, 0 0 15px #9292dd, 0 0 25px #9292dd;
    }
}

.Athar-day:hover {
    animation-name: sky-color;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

@keyframes sky-color {
    0% {
        background: linear-gradient(145deg, #e0b04f, #ffd15e);
        box-shadow: none;
    }

    100% {
        background: linear-gradient(145deg, #a683c7, #c59cec);
        box-shadow: 0 0 2px #b892dd, 0 0 5px #b892dd, 0 0 15px #b892dd, 0 0 25px #b892dd;
    }
}

.user-choice {
    display: block;
}

.user-writing,
.user-reading {
    display: none;
}

.msg-error {
    color: #C56F43;
}

.msg-success {
    color: #4c1273;
    background-color: transparent;
    font-size: 15px;
}

.msg-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #fcfdf4c0;
    z-index: 10;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 4vw;
}

.submit-btn {
    padding: 0.7em 1em;
    padding-left: 0.9em;
    display: flex;
    align-items: center;
    border: none;
    border-radius: 16px;
    overflow: hidden;
    transition: all 0.2s;
    cursor: pointer;
}

.submit-btn span {
    display: block;
    margin-left: 0.3em;
    transition: all 0.3s ease-in-out;
}

.submit-btn svg,.span-btn svg {
    display: block;
    transform-origin: center center;
    transition: transform 0.3s ease-in-out;
}

.submit-btn:hover .svg-wrapper {
    animation: fly-1 0.6s ease-in-out infinite alternate;
}

.submit-btn:hover svg {
    transform: translateX(1.2em) rotate(45deg) scale(1.1);
}

.submit-btn:hover span {
    transform: translateX(5em);
}

.submit-btn:active {
    transform: scale(0.95);
}

@keyframes fly-1 {
    from {
        transform: translateY(0.1em);
    }

    to {
        transform: translateY(-0.1em);
    }
}

.span-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition-duration: .3s;
    overflow: hidden;
    position: relative;
    width: 30px;
    padding: 1% 2%;
}


.span-btn:hover {
    width: 100px;
    transition-duration: .3s;
    align-items: center;
}

.span-btn::before {
    position: absolute;
    left: 50px;
    color: #3E3430;
    transition-duration: .3s;
}
.update-btn-content::before{
    content: "تحديث";
}
.add-btn-content::before{
    content: "اضافة";
}

.span-btn:hover::before {
    opacity: 1;
    transform: translateX(-15px);
    transition-duration: .3s;
}
.span-btn:hover svg{
    transform: translateX(-25px);
}